/* caprasimo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Caprasimo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/caprasimo-v6-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* chivo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chivo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/chivo-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  Background-color: yellow;
	font-size: 16px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  background-color: pink;
   padding: 20px;
  border: 1px solid #FFFFFF;
 }

 nav ul li {
  padding: 5px;
  padding-left: 10px;
	 background-color: blue;
  border-radius: 5px;
  font-family: 'Caprasimo';
	color: black;
 }

a {
	  font-family: 'Chivo';
  text-align: center;
  border-radius: 5px;
  padding: 3px;
  color: #FFFFFF; 
  text-decoration: none; 
  transition: color 0.3s ease-in-out;
	background-color: pink;
}

a:visited {
    /* color: #b5a79b; */
}

a:hover {
    /* color: #fffacd; */
    text-decoration: underline; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p, li {
  font-size: 1em;
  font-family: 'Chivo';
list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Caprasimo';
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Caprasimo';
  font-weight: 700;
  margin-top: 0;
  font-size: 4.21em;
}

h2,
.text-size-h2 { font-size: 3.16em; }

h3,
.text-size-h3 { font-size: 2.37em; }

h4,
.text-size-h4 { font-size: 1.78em; }

h5,
.text-size-h5 { font-size: 1.33em; }

/* HOMEPAGE ORGANIZATION */

.title {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .questions {
    padding: 10px;
    text-align: center;
  }


/* FOOTER */
.bank-footer {
    background-color: ; 
    color: ; 
    padding: 40px 20px 10px;
	font-family: 'Chivo'; 
    border-top: 3px solid #7d0a0a;
}

.page img {
  padding-left: 20px
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(240, 230, 140, 0.3); 
    padding-bottom: 20px;
}

.footer-logo, .footer-links, .footer-social {
    width: 30%; 
    margin-bottom: 20px;
}

.footer-logo h3 {
    color: ; 
    margin-bottom: 5px;
}

.footer-links h4, .footer-social h4 {
    color: #f0e68c;
    border-bottom: 1px solid #7d0a0a;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li a {
    color: #cccccc; 
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
  color: ;
  text-decoration: underline; 
}

.footer-social .social-icons .icon {
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    font-size: 0.8em;
    color: ; 
}
              
